.contents
  .contents-black
    .fadein_first
      Labor and Social Security Attorney
    .fadein_second
      ×
    .fadein_last
      Enjineer

:javascript
%body{:onload => "setTimeout(\"location.href='/blogs'\",9000)"}