    .mainblog {
      color: black;
      width: 100vh;
      min-width: 1440px;
      height: 100vh;
      &-wrapper { 
        width: 900px;
        height: 530px;
        margin: 60px auto;
        border: 2px solid black;
        margin-bottom: 30px;
        border-radius: 2px;
        &__title {
          padding-top: 20px;
          margin-left: 60px;
          font-size: 24px;
        }
        &__main {
          height: 100vh;
          padding-top: 30px;
          padding-bottom: 30px;
          margin-left: 60px;
          font-size: 16px;
        }
      }
    }
    .maindigest{
      margin-top: 740px;
      position: absolute;
      color: black;
      width: 100vh;
      min-width: 1440px;
      .maindigest-wrapper {
        width: 900px;
        height: 300px;
        margin: 60px auto;
        padding-left: 30px;
        border: 2px solid black;
        border-radius: 2px;
        .maindigest-wrapper__bullet {
          font-size: 16px;
          padding-left: 10px;
          margin-top: 80px;
        }
      }
    }

// .question-image {
//   position: absolute;
//   height: 250px;
//   width: 250px;
// }
p1 {
  position: absolute;
  font-size: 28px;
  padding-top: 20px;
  padding-left: 14px;
}

.list-contents {
  color: black;
  width: 100vh;
  min-width: 1440px;
  height: 100vh;
  &-wrapper {
    width: 900px;
    height: 700px;
    margin: 60px auto;
    border: 2px solid black;
    border-radius: 2px;
    &__title {
    }
  }
}

.footer__list {
  background-image:url(iphone8IMGL7765.jpg.jpg); 
  background-repeat:  no-repeat;
  background-position: center center;               
  width:auto;
  min-width: 1440px;                             
  height:300px;
  opacity: 0.7;
  margin-top: 140px;
  &__message {
    color: #fff;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 1200px; 
  }
}

li#bloglist {
  font-size: 16px;
  margin-left: 30px;
  margin-top: 30px;
  & a:link {
    color: black;
  }
  & a:visited {
    color: black;
  }
  & a:hover {
    color: black;
    opacity: 0.5;
  }
}

.list-image {
  position: absolute;
  height: 300px;
  width: 200px;
  margin-left: 630px;
  margin-top: 340px;
}

#pagination-list {
  margin-left: 10px;
}

.bullet {
  height: 300px;
  width: 590px;
}

.title {
  height: 100px;
  width: 590px;
}

.text {
  height: 300px;
  width: 590px;            
}
